:root {
    --primaryColor: #f40612;
}


/*Global:*/

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
ul {
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background: #000;
}

ul {
    list-style: none;
}


/*Showcase:*/

.showcase {
    max-height: 800px;
    background: url('/images/background.jpg') no-repeat center center fixed;
    height: 80vh;
    position: relative;
    border-bottom: 8px #222 solid;
    background-size: cover;
}

.showcase-container {
    width: 100%;
    margin: 0 auto;
}

.showcase::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: inset 10px -100px 250px #000;
}


/*Container-logo:*/

.container-logo {
    height: 90px;
    position: relative;
    z-index: 2;
}

.container-logo .img-logo {
    width: 200px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(15%, -50%);
}

.container-logo a {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}


/*Container-info:*/

.container-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 9rem;
    font-weight: lighter;
}

.box-questions-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px;
    font-weight: lighter;
}

.container-info h1,
.container-info p {
    z-index: 2;
}

.subscribe-form {
    z-index: 2;
    margin-top: 25px;
}

.container-email {
    margin-top: 20px;
    height: 90px;
    width: 720px;
    position: relative;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

.container-email span {
    position: absolute;
    top: 2px;
    left: 5px;
    z-index: 2;
    color: #999;
    font-size: 12px;
    font-weight: bold;
}

.container-email input[type="email"] {
    width: 70%;
    height: 70px;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.container-email button[type="submit"] {
    width: 30%;
    height: 70px;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    font-size: 1.8rem;
    text-align: center;
}


/*Boxes*/

.box {
    border-bottom: 8px #222 solid;
}

.box-container {
    width: 1200px;
    margin: 80px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
}

.box-container div p {
    padding: 10px;
}

.box img {
    width: 400px;
    justify-self: center;
}

.questions {
    width: 850px;
    padding: 26px 0;
}

.questions button {
    width: 100%;
    height: 74.5px;
    margin: 10px;
    padding: 25px;
    font-size: 1.6rem;
    text-align: start;
    background: #303030;
    border: none;
    color: #fff;
    display: flex;
    justify-content: space-between;
}


/*Footer*/

.footer {
    max-width: 50%;
    margin: 1rem auto;
    overflow: auto;
}

.footer,
.footer a {
    color: #757575;
    font-size: 0.9rem;
}

.footer p {
    margin: 2rem 0;
}

.footer .questions-cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
    justify-content: center;
    align-items: center;
}

.footer .questions-cols li {
    line-height: 1.9rem;
}

.footer .questions-cols a {
    text-decoration: none;
}


/*Buttons*/

.btn {
    display: inline-block;
    color: #fff;
    background: var(--primaryColor);
    text-decoration: none;
    padding: 0.4rem 1.3rem;
    border-radius: 2px;
    margin-right: 2px;
    outline: none;
    border: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
    cursor: pointer;
}

.btn-rounded {
    border-radius: 4px;
}


/*Text*/

.text-lg {
    font-size: 2.9rem;
    padding: 0;
    margin: 5px 0;
    font-weight: bold;
}

.text-md {
    font-size: 1.5rem;
    padding: 0;
    margin: 5px 0;
}


/*Plus sign*/

.plus {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff), #000;
    background-position: center;
    background-size: 50% 2px, 2px 50%;
    /*thickness = 2px, length = 50% (25px)*/
    background-repeat: no-repeat;
    transform: translate(0%, -20%);
}

.alt {
    background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff);
    background-position: center;
    background-size: 50% 2px, 2px 50%;
    /*thickness = 2px, length = 50% (25px)*/
    background-repeat: no-repeat;
}