footer {
    position: relative;
    background-color: #193047;
}

.footer-container {
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
    z-index: 0;
}

.footer-container::after {
    content: '';
    background: url(./images/footer-images/dots-eight-by-ten.svg);
    position: absolute;
    right: -20px;
    bottom: 98px;
    width: 105px;
    height: 135px;
}

.footer-container ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

.footer-container li {
    padding-bottom: 15px;
}

.footer-container a {
    text-decoration: none;
    color: #D6D0D1;
    font-size: 14px;
}

.footer-container a:hover {
    text-decoration: underline;
}

footer p {
    font-size: 14px;
    color: #91918E;
    word-break: break-all;
}

div.links-wrapper {
    padding-right: 20px;
}

div.heading {
    color: #FFFFF3;
    font-weight: bold;
    margin-bottom: 22px;
}

div.social-media-wrapper {
    margin-bottom: 25px;
    color: #d6d6d6;
}

div.social-media-wrapper i {
    margin-right: 15px;
    font-size: 23px;
    transform: scale(1, 0.947);
}

div.payments-wrapper img {
    border-radius: 4px;
    margin-right: 15px;
}

div.payments-wrapper {
    margin-bottom: 55px;
}